* @romanilyin

.github/workflows/* @romanilyin
.github/dependabot.yml @romanilyin
packages/go/canonicalfs/** @romanilyin
packages/go/canonicalfsrpc/** @romanilyin
packages/ts/src/canonicalfs/** @romanilyin
spec/** @romanilyin
LICENSE* @romanilyin
NOTICE* @romanilyin
SECURITY.md @romanilyin
